.taskContainer {
  width: 80%;
  margin-top: 2rem;
  margin-left: 3.5rem;
}
.taskContainer ul {
  margin-top: 1.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.taskContainer .Task {
  padding: 0.6rem 1rem;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  font-size: 0.9rem;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Task:hover {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.3);
  transform: scale(1.01);
}
.Task h4 {
  display: inline-block;
}
button {
  padding: 0.5rem;
  border: none;
  border-radius: 16px;
  width: 5rem;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(135deg, rgb(127, 255, 127), rgb(80, 200, 120));
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}
.Task label {
  display: flex;
  gap: 0.5rem;
}
.Task input {
  width: 1rem;
  height: 1.35rem;
}
